.elemento-no-centro{
      text-align: center;
}

.plano-de-fundo{
  background-image: url("../img/fundo1.jpg");
}

.texto-azul{
  color: white
  /* color: #1B1464 */
}

header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
}

.img-circle {
  border-radius: 50%;
}
